[user]
	name = taholme
	email = theodor@fjellstua.net

[core]
	editor = nvim
	autocrlf = input
#[push]
#	default = current

[init]
	defaultBranch = master

[merge]
	conflictstyle = diff3

[diff]
	tool = vimdiff

[rerere]
	enabled = true

[color]
	ui = auto
