[user]
	name = taholme
	email = theodor@fjellstua.net

[core]
	editor = nvim
	autocrlf = input
	# whitespace = trailing-space,-space-before-tab,indent-with-non-tab,cr-at-eol

#[push]
#	default = current

[init]
	defaultBranch = master

[merge]
	conflictstyle = diff3

[diff]
	tool = vimdiff

[rerere]
	enabled = true

[color]
	ui = auto

[pull]
	rebase = false

[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
